.time-before-start {
  height: min-content;
  align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}
.seconds-before-start {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 3px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
}
.before-start > span > img {
  margin-bottom: -3px;
  margin-right: 9px;
}
