.bets {
  grid-column-start: 3;
  grid-row-start: 2;
  grid-row-end: 6;
  height: 690px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 31px;
}
.bets > h3 {
  margin-top: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}
.bets-cards-block {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 43px;
}
