.round {
  grid-column-start: 1;
  grid-row-start: 2;
}
.round h3 {
  width: min-content;

  margin-right: auto;
  margin-left: auto;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}
.round-stats {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-weight: 400;
  gap: 5px;
}
.round-stats > p > span {
  color: #ebb41c;
}
.round-stats > p {
  margin: 0;
}
.round-stats > p > span > img {
  margin-left: 4px;
  height: 10px;
  width: 10px;
}
